<!doctype html>
<head>
    <title>Talos Prover</title>
    <style type="text/css">
        body {
            font-size: 14pt;
        }
        input[type=text] {
            width: 1000px;
            font-size: 12pt;
            margin-bottom: 5px;
        }
        textarea {
            width: 1000px;
            font-size: 12pt;
            height: 200px;
        }
    </style>
</head>
<body>
<div id="header">
    <h1>Talos</h1>
</div>

<form action="prove" method="POST">
    <textarea name="prototypes" placeholder="Prototypes"></textarea><br /><br />
    <textarea name="axioms" placeholder="Axioms"></textarea><br /><br />
    <input type="text"  name="conjecture" placeholder="Conjecture" /><br /><br />
    <input type="submit" value="Prove" />
</form>

</body>